.path-icon, .keyspanel {
    display: none;
}

.links {
    margin-left: 16px;
}

.fm {
    height: 100%;
}

.panel-right {
    display: none;
}

.panel-left {
    width: 98%;
}

.name a:hover {
    cursor: pointer;
}
