/*
@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);
*/

/* http://fontello.com/ */
@font-face {
  font-family: 'Fontello';
  src: url("/font/fontello.eot");
  src: url("/font/fontello.eot?#iefix") format('embedded-opentype'),
       url("/font/fontello.woff") format('woff'),
       url("/font/fontello.ttf") format('truetype'),
       url("/font/fontello.svg#cloudcmd") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('//themes.googleusercontent.com/static/fonts/droidsansmono/v4/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff') format('woff');
}

body {
    font:16px "Droid Sans Mono";
    background-color:white;
}

.fm, #left>li, #right>li, .path, .fm-header,
.mini-icon, .name, .size, .owner, .mode, .keyspanel, .cmd-button {
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    -o-user-select      : none;
    user-select         : none;
}

.path-icon {
    position    : relative;
    top         : 3px;
    left        : -4px;
    display     : inline-block;
    width       : 15px;
    height      : 15px;
    color       : #46A4C3;/*#55BF3F; green*/
    text-shadow :black 0 2px 1px;
}

.path-icon:hover {
  cursor:pointer;
}

.path-icon:active {
    position: relative;
    top: 4px;
    text-shadow:black 0 0 1px;
}

.icon {
    margin-left : 0.5%;
}

.error::before {
    position    : relative;
    font-family : 'Fontello';
    font-size   : 14px;
    color       : rgb(222, 41, 41);
    cursor      : default;
    content     : '\2757';
}

.loading {
    position    : relative;
    top         : 1px;
    display     : inline-block;
    width       : 15px;
    height      : 14.8px;
    background  : url(/img/spinner.gif);
}

.refresh-icon {
    background:url(/img/panel_refresh.png) no-repeat;
}

.refresh-icon:active {
    background-position: 0 -15px;
}

.cmd-button {
    width: 9%;
    margin: 20px 2px 0 2px;
    overflow: hidden;
    color: rgb(49,123,249);
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    border: 1.5px solid rgba(49,123,249,.40);
    outline: 0;
    transition: ease 0.1s;
}

.cmd-button:hover {
    border: 1.5px solid rgb(0,0,0);
    transition: ease 0.5s;
}

.cmd-button:active {
    color: white;
    background-color: rgb(49,123,249);
    transition: ease 0.1s;
}

.clear-storage {
    margin-right: 6px;
    margin-left: 7px;
    background:url(/img/console_clear.png)  -4px -4px no-repeat;
}
.clear-storage:active {
    top:5px;
}

.links {
    color:red;
}

.mini-icon {
    position: relative;
    top: 2px;
    left: -5px;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 6px;
  /* отступ перед картинкой 
   * для нормального отображения
   * рамки
   */
}
/* уменьшаем отступ 
 * между между иконкой и
 * именем файла во время
 * установления курсора
 */
.current-file > .mini-icon {
     left: -6px;
}
/* freeupex */
.directory {
    /*list-style-image*/
    background-image:url('/img/dir.png');
    background-position: 0 0;
    background-repeat: no-repeat;  
}
.text-file {
    /*list-style-image*/
    background-image:url('/img/txt.png');
    background-position: 0 0;
    background-repeat: no-repeat;  
}
.fm {
    height: 90%;
    margin: 26px 26px 0 26px;
}
.fm-header {
    font-weight: bold;
}
#path{
    margin-left:1.5%;
}
.left, #left {
    float:left;
}

.current-file {
    box-shadow: inset 0 0 2px rgb(49, 123, 249);
    transition: ease 0.05s;
}

.selected-file, .selected-file .name > a {
    color: rgb(254,159,224);
}

.right, #right {
    float:right;
}
.panel {
    width: 46%;
    padding: 20px;
    margin: 0;
    overflow-y: auto;
    border: 1.5px solid rgba(49, 123, 249, .40);
}

.selected-panel {
    border-color: rgba(254, 159, 224, .40);
}

.keyspanel {
  text-align: center;
}

.name {
    float: left;
    width: 35%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.size {
    float:left;
    width:16%;
    margin-right: 27px;
    text-align: right;
}
.mode {
  float: right;
  width: 23%;
}

.panel, li {
    list-style-type: none;
    cursor: default;
}

a {
  text-decoration:none;
}
a:hover, a:active {
    color : #06e;
    cursor: pointer;
}

/* Если размер окна очень маленький
 * располагаем имя и атрибуты файла
 * друг-под-другом
*/
/* responsive design */
@media only screen and (max-width: 600px) {
    /* текущий файл под курсором */
    .current-file {
        background-color: rgb(49, 123, 249);
        background-color: rgba(49, 123, 249, .40);
        color:white;
    }
    /* делаем иконки под курсом белыми*/
    .current-file > .mini-icon{
        color:white;
    }
    .current-file > .text-file::before {
        color:white;
    }
    
    .fm-header {
        display:none;
    }
    
    /* меняем иконки на шрифтовые*/
    .mini-icon {
        color: rgb(246, 224, 124);
        color: rgba(246, 224, 124, 0.56);
        font: 60px 'Fontello';
        width: 40%;
        height: 0;
        margin-left: 0;
        float: right;
        position: relative;
        top: 10px
    }
    .directory::before {
        content: '\1f4c1';
    }
     .text-file::before {
        color: rgb(26, 224, 124);
        color: rgba(26, 224, 124, 0.56);
        content: '\1f4c4';
    }
    .text-file {
        background-image:none;
    }
        
    /* убираем заголовок*/
    .fm_header {
        display:none;
    }
    
    .mode,.size,.owner {
        /* располагаем элементы 
         * один под другим
         */
        display: table;
        float: none;
        width: 0;
        
        text-align: left;
    }
    /* выводим заголовки рядом с полями */
    .name::before {
        content: 'name:';
        font-weight: bold;
        font-size: 13px;
    }
    .mode::before {
        content: 'mode:';
        font-weight: bold;
        font-size: 13px;
    }
    .size::before {
        content: 'size:';
        font-weight: bold;
        font-size: 13px;
    }
    .owner::before {
        content: 'owner:';
        font-weight: bold;
        font-size: 13px;
    }
    
    .name {
        float: none;
        width:100%;
        font-size: 18px;
    }
    
    .cmd-button {
        width: 20%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 785px) {
    .cmd-button {
        width: 13%;
    }
}

@media only screen and (min-width:786px) and (max-width: 1155px) {
    .cmd-button {
        width: 10%;
    }
}

@media only screen and (max-width: 1155px) {
    .panel {
        width:94%;
    }
    /* если правая панель не помещаеться - прячем её */
    #right, .cmd-button#f5, .cmd-button#f6 {
        display: none;
    }
}
