html {
    height           : 94%;
}

body {
    width               : 100%;
    height              : 95%;
    overflow            : hidden;
    background-color    : white;
}

body, pre, code {
    font-family     : "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
    font-size       : 16px;
}

.hidden {
    visibility: hidden;
}

.fm, .keyspanel {
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    -o-user-select      : none;
    user-select         : none;
    cursor              : default;
}

.links {
    -webkit-user-select : initial;
    -moz-user-select    : initial;
    -ms-user-select     : initial;
    -o-user-select      : initial;
    user-select         : text;
}

.panel, .cmd-button {
    border: 1.5px solid;
    border-color: rgb(49,123,249);
    border-color: rgba(49,123,249, 0.4);
}

.icon {
    margin-left : 0.5%;
    cursor: default;
}

.icon:hover {
    cursor: default;
}

.path-icon {
    position: relative;
    color: #222;
}

.path-icon:active {
    top: 1px;
}

.path-icon:hover {
    color : #06e;
    cursor: pointer;
}

.error::before {
    font-family : 'Fontello';
    font-size   : 14px;
    color       : rgb(222, 41, 41);
    cursor      : default;
    content     : '\e800';
}

.loading {
    position        : relative;
    display         : inline-block;
    width           : 16px;
    height          : 16px;
    vertical-align  : middle;
}

.loading::after {
    position    : relative;
    bottom      : 5px;
    left        : 16px;
    font-size   : 10px;
    color       : rgb(49,123,249);
    content     : attr(data-progress);
}

.cmd-button {
    width: 5%;
    height: 30px;
    margin: 20px 2px 0 2px;
    color: #222;
    background-color: white;
    transition: ease 0.1s;
}

.cmd-button:hover {
    border: 1.5px solid;
    transition: ease 0.5s;
}

.cmd-button:active {
    color: white;
    background-color: rgb(49,123,249);
    transition: ease 0.1s;
}

.cmd-button:focus {
    outline: 0;
}

.links a {
    color: red;
}

.mini-icon {
    position: relative;
    top: 2px;
    /* отступ перед картинкой 
     * для нормального отображения
     * рамки
     */
    left: -5px;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

.fm {
    width : 97%;
    height: 90%;
    margin: 26px auto 0 auto;
}
.fm-header {
    font-weight: bold;
}

.panel-left {
    float:left;
}

.current-file {
    box-shadow: 0 0 0 1px rgba(49, 123, 249, 0.4) inset;
    transition: ease 0.05s;
}

.cut-file {
    opacity: 0.7;
}

.selected-file, .selected-file .name > a {
    color: rgb(254,159,224);
}

.panel-right {
    float:right;
}
.panel {
    width: 46%;
    height: 97%;
    padding: 1%;
}

.selected-panel {
    border-color: rgb(254, 159, 224);
    border-color: rgba(254, 159, 224, .40);
}

.keyspanel {
  text-align: center;
}

.name {
    float: left;
    width: 35%;
}

.name a:hover {
    cursor: default;
}

.size {
    float:left;
    width:16%;
    margin-right: 27px;
    text-align: right;
}

.owner {
    display         : inline-block;
    width           : 14%;
    /* when inline-block
     * vertical align should be
     * set top to prevent additional
     * spaces behind lines
     */
    vertical-align  : top;
}

.mode {
  float: right;
  width: 23%;
}

.reduce-text {
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}

.files {
    height: 95%;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
}

a {
  text-decoration:none;
}
a:hover, a:active {
    color : #06e;
    text-decoration:none;
}

@media only screen and (max-height: 800px), (max-height: 640px) and (max-width: 360px) {
    .fm {
        height: 75%;
    }
    
    .files {
        height: 90%;
    }
}

@media only screen and (max-height: 360px) and (max-width: 640px) {
    .fm {
        height: 55%;
    }
    
    .files {
        height: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .panel {
        font-size: 26px;
    }
    
    /* текущий файл под курсором */
    .current-file {
        background-color: rgb(49, 123, 249);
        background-color: rgba(49, 123, 249, .40);
        color: white;
    }
    /* делаем иконки под курсом белыми*/
    .current-file a {
        color: white;
    }
    .current-file .text-file::before {
        color: white;
    }
    
    /* меняем иконки на шрифтовые*/
    .mini-icon {
        color           : rgb(246, 224, 124);
        color           : rgba(246, 224, 124, 0.56);
        font            : 16px 'Fontello';
        background-image: none;
        padding         : 1%;
    }
    
    .size, .owner, .mode {
        display: none;
    }
    
    .name {
        float: none;
        width: 90%;
        display: inline-block;
    }
    
    .directory::before {
        content: '\e807';
    }
     .text-file::before {
        color: rgb(26, 224, 124);
        color: rgba(26, 224, 124, 0.56);
        content: '\e80d';
    }
    .text-file {
        background-image:none;
    }
    
    /* убираем заголовок*/
    .fm-header {
        display:none;
    }
    
    /* выводим заголовки рядом с полями */
    
    .cmd-button {
        width: 20%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 785px) {
    .cmd-button {
        width: 13%;
    }
}

@media only screen and (min-width:786px) and (max-width: 1155px) {
    .cmd-button {
        width: 10%;
    }
}

@media only screen and (max-width: 1155px) {
    .panel {
        width:97%;
    }
    /* если правая панель не помещаеться - прячем её */
    .panel-right, .cmd-button#f5, .cmd-button#f6 {
        display: none;
    }
}

@media print {
    .panel {
        width: 94%;
        margin: 0;
        padding: 0;
        border: none;
    }
    
    .keyspanel, .panel-right {
        display: none;
    }
    
    .files {
        overflow-y: visible;
    }
    
    .current-file {
        box-shadow: none;
    }
    
    .path-icon {
        display: none;
    }
    
    .mini-icon {
        display: none;
    }
}
