/*
@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);
*/

/* http://fontello.com/ */
@font-face {
    font-family: 'Fontello';
    src: url(../font/fontello.eot);
    src:
        url(../font/fontello.eot?#iefix) format('embedded-opentype'),
        url(../font/fontello.woff2) format('woff2'),
        url(../font/fontello.woff) format('woff'),
        url(../font/fontello.ttf) format('truetype'),
        url(../font/fontello.svg#cloudcmd) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family     : 'Droid Sans Mono';
    src             : url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot);
    src             :
        local('Droid Sans Mono'),
        local('DroidSansMono'),
        url(../font/DroidSansMono.eot) format('embedded-opentype'),
        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot?#iefix) format('embedded-opentype'),
        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJTwtzT4qNq-faudv5qbO9-U.eot) format('embedded-opentype'),
        url(../font/DroidSansMono.woff2) format('woff2'),
        url(../font/DroidSansMono.woff) format('woff'),
        url(https://themes.googleusercontent.com/static/fonts/droidsansmono/v5/ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff) format('woff'),
        local('Consolas');
    font-style      : normal;
    font-weight     : 400;
}

.directory {
    background-image: url(../img/directory.png);
}

.directory-link {
    background-image: url(../img/directory-link.png);
}

.file {
    background-image: url(../img/file.png);
}

.file-link {
    background-image: url(../img/file-link.png);
}

.archive {
    background-image: url(../img/archive.png);
}

.archive-link {
    background-image: url(../img/archive-link.png);
}

.loading-svg {
    background: url(../img/spinner.svg);
}

.loading-gif {
    background: url(../img/spinner.gif);
}

