.view {
    font-size: 16px;
    white-space: pre;
    outline: 0;
}

.view::selection {
    text-shadow: none;
    background: #b3d4fc;
}

.view-overlay {
    display     : block;
    background  : rgb(255, 255, 255);
    background  : rgba(255, 255, 255, 0.1);
}

.fancybox-wrap {
    /*
     * when search element with
     * document.elementFromPoint
     */
    z-index: 1
}

.fancybox-overlay {
    z-index: 0;
}

.media, video {
    width: 100%;
}

audio {
    margin-top: 10px;
}
