.view {
    font-size: 16px;
    white-space: pre;
    height: 100%;
    overflow: auto;
}

.view:focus {
    outline: 0;
}

.view::selection {
    text-shadow: none;
    background: #b3d4fc;
}

.view-overlay {
    display     : block;
    background  : rgba(255, 255, 255, 0.1);
}

.media, video {
    width: 100%;
}

audio {
    margin-top: 10px;
}
