:root {
    --link-color: blue;
    --selected-menu-item-color: #317bf9;
    --border-color: rgb(49 123 249 / 40%);
    --background: white;
    --column-color: black;
    --icon-color: #222;
    --button-background: white;
}
