{
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "transform-regenerator"
      ]
    }],
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import",
    "module:fast-async",
    "module:babel-plugin-macros",
  ]
}
