{
    "presets": [
      ["env", {
        "exclude": [
          "transform-regenerator"
        ]
      }]
    ],
    "plugins": [
      "transform-object-assign",
      "transform-object-rest-spread",
      "fast-async",
      "babel-plugin-macros",
    ]
}

