{
  "presets": [
    ["@babel/preset-env", {
      "exclude": [
        "transform-regenerator"
      ]
    }],
  ],
  "plugins": [
    ["module:fast-async", {
      "compiler": {
        "generators": false,
        "runtimePatter": ".js"
      }
    }],
    "module:babel-plugin-macros",
  ]
}
