.*
node_modules
npm-debug.log*
coverage
test
shell
manifest.yml
app.json
bower.json

Dockerfile
Dockerfile.alpine

webpack.config.js

bin/legacy.js
bin/release.js

modules/jquery/dist
modules/jquery/external
modules/jquery/src

!modules/jquery/dist/jquery.min.js

modules/fancybox/lib/
modules/fancybox/demo
modules/fancybox/sprite.psd

modules/execon
modules/emitify

client
legacy
server_

.nyc_output

