{
    "env": {
        "es6": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error",
        "no-console": 0,
        "no-use-before-define": ["error", "nofunc"]
    },
    "extends": [
        "eslint:recommended"
    ]
}
