{
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error",
        "no-console": 0,
        "no-use-before-define": 0,
    },
    "extends": [
        "eslint:recommended"
    ]
}
