{
    "env": {
        "es6": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
    },
    "rules": {
        "indent": ["error", 4],
        "semi": "error",
        "no-console": 0,
        "no-use-before-define": 0,
        "no-multiple-empty-lines": [
            "error", {
                "max": 1
            }]
    },
    "extends": [
        "eslint:recommended"
    ]
}
