#files, the will be ignored by git

#c9 files
.c9revisions
*tmp

#minified scripts
min

#node modules folder
node_modules

#moving out minify from cloudcmd submodules
#minify module
#!node_modules/
#node_modules/*
#!node_modules/minify

#temporary files folder
tmp

#file used by c9
apache-status

#file used by nodester
.nodester.appconfig

#log file
log.txt

#hashes file
hashes.json