package-lock.json
node_modules
npm-debug.log*
coverage

modules/jquery/dist
modules/jquery/external
modules/jquery/src

!modules/jquery/dist/jquery.min.js

modules/fancybox/lib/
modules/fancybox/demo
modules/fancybox/sprite.psd
modules/fancybox/*.json
modules/fancybox/gulpfile.js
modules/jquery-mousewheel

modules/execon
modules/emitify

legacy
server_

.nyc_output

*.swp

dist
dist-dev

