#files, the will be ignored by git

#minified scripts
*.min.js
*.min.css
*.min.html

#node modules folder
node_modules

#cloudfoundry info files
cloudcmd.manifest.yml
cloudcmddemo.manifest.yml
demo-cloudcmd.manifest.yml

#herocu info file
Procfile

#hide travis yml for nodejitsu working out
#.travis.yml

#temporary files folder
tmp