.*
manifest.yml
Dockerfile*
docker-compose.yml
shell
test
coverage
css
html
yarn-error.log
now.json

modules/jquery/dist
modules/jquery/external
modules/jquery/src

!modules/jquery/dist/jquery.min.js

modules/fancybox/lib/
modules/fancybox/demo
modules/fancybox/sprite.psd

modules/execon
modules/emitify

app.json
bower.json
manifest.yml

bin/release.js

client

webpack.config.js

