# Vim.
*.swp
.vimrc

# OSX
.DS_Store

# Git.
.git

# Npm modules.
node_modules

# Vendored javascript modules.
test/vendor

# Minified library.
lib/dropbox.min.js

# Sample apps.
samples

# Test build output.
test/chrome_profile
test/js
tmp/*.js

# Test code that is not related to node.js.
test/chrome_app

# Documentation output.
doc/*.html
doc/assets
doc/classes
doc/files

# Test app logos.
test/app_icon
# Test automating Chrome extension.
test/chrome_extension

# Potentially sensitive credentials and keys used during testing.
test/.token
test/ssl

